{% extends 'layout.html'%} {% block main%}
<div class="container">
    
    <div class="row">
    	<div class="col-lg-2"><h4>Hello, {{userInfo.username}}!</h4></div>
        <div class="col-lg-8">
            <div class="input-group">
                <input type="text" class="form-control wd" placeholder="天气查询(输入城市，如：武汉)">
                <span class="input-group-btn">
        			<button class="btn btn-default wd_btn" type="button">百度一下</button>
      			</span>
            </div>
            <!-- /input-group -->
        </div>

        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
</div>
{% endblock %}
